/* **************** Common Style ********************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.boxed {
    max-width: 1000px;
    margin: 0 auto;
}

.column {
    display: flex;
    align-items: center;
}

.padding-top-bottom {
    padding: 3rem 0;
}

.button-light,
.button-violet,
.button-dark {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}

.button-light {
    color: #222;
    background-color: white;
}

.button-violet {
    color: white;
    background-color: #7289DA;
}

.button-dark {
    color: white;
    background-color: #222;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    line-height: 2rem;
}

.wave {
    width: 100%;
    opacity: 0.04;
    display: block;
}

.rotate {
    transform: rotate(180deg);
}

/* **************** header ********************* */

/* ******** navbar ********* */

header {
    background-color: #255EE9;
}

header nav {
    align-items: center;
}

header .column-nav-small,
header .column-nav-big {
    padding: 1rem;
}

.column-nav-small {
    min-width: 20%;
}

.column-nav-big {
    min-width: 60%;
    text-align: center;
}

#link-page {
    justify-content: space-around;
}

#link-page a {
    text-decoration: none;
    color: white;
}

#accedi {
    justify-content: flex-end;
}

/* ********** jumbotron *************/

.jumbotron {
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: cover;
    min-height: 60vh;
}

.jumbo-content {
    max-width: 50%;
    color: white;
    text-align: center;
}

.jumbo-content h1 {
    margin: 2rem 0;
    font-size: 3rem;
}

.jumbo-content p,
.jumbo-content button {
    margin: 0.5rem 0.5rem;
}

/* ********************** fine header ********************** */

/*************************** main ***************** */


.light {
    background-color: white;
}

.dark {
    background-color: #F6F6F6;
}

.col-big {
    min-width: 60%;
}

.col-small {
    min-width: 40%;
}

.col-single {
    width: 100%;
    text-align: center;
}

.col-big img,
.col-small img {
    width: 100%;
}

.download {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-image: url(./img/stars.svg);
    background-position: bottom;
    background-size: contain;
}

.download h3 {
    margin: 1rem 0;
    font-size: 2rem;
}

/*************************** fine main ***************************/

/***************************** footer *****************************/

footer {
    background-color: #222;
    padding-bottom: 1rem;
}

/********************* prima sezione footer *********************/


.social {
    width: 30%;
    align-self: flex-start;
    color: white;
}

.social h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #6381D5;
}

#bandiera {
    height: 1rem;
}

.column .link {
    align-items: flex-start;
}

.link {
    width: 70%;
    text-align: center;
}

.link > div {
    width: calc(100% / 4);
}

.first-row {
    color: #6381D5;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer section:first-child {
    border-bottom: 1px solid #6381D5;
    margin-bottom: 3rem;
}

/********************* seconda sezione footer *********************/

.footer-nav {
    justify-content: space-between;
}

